.banner {
  height: 1060px;
  background: url(./img/banner.png) no-repeat center center;
  background-size: 720px 1060px;
  margin-bottom: 60px;
}

.body_1 {
  height: 488px;
  background: url(./img/body-1.png) no-repeat center center;
  background-size: 612px 488px;
  margin-bottom: 96px;
}

.body_2 {
  height: 773px;
  background: url(./img/body-2.png) no-repeat center center;
  background-size: 597px 773px;
  margin-bottom: 190px;
}