.porela {
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.bgcolor {
    background: #dd3736;
    // @include font-hei;  
}

.bgc2 {
    background: #dd3736;
}

.pd20 {
    padding: 20px;
}

.pd30 {
    padding: 30px;
}

.center {
    text-align: center;
}

.yello {
    color: #f6ff00;
}

.red {
    color: #fd4530;
}

p{
    margin: 0; 
}
.del-link {
    text-decoration: line-through;
}

.flex{
    &-box{
        display: flex;
    }
    &-n1{
        flex:1;
    }
    &-n2{
        flex:2;
    }
}

.layermchild {
    background-color: transparent!important;
}